/* FORM CSS HERE */

.inputX {
    width: 100%;
    background-color: var(--bg-a);
    border-radius: 6px !important;
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputX label, .inputX input {
    display: block;
    font-family: fontR;
    font-size: 18px;
}

.inputX label {
    min-width: 120px; /* Set a minimum width for labels */
    max-width: 120px; /* Ensure all labels are the same width */

    background-color: var(--theme);
    color: var(--text-w);
    user-select: none;
    padding: 10px 10px;
    border-radius: 6px;
    text-align: left; /* Align text to the right */
}

.inputX input {
    width: calc(100% - 100px); 
    background-color: var(--bg-a);
    color: var(--text-b);
    border: none;
    border-radius: 6px;
    padding: 10px; 
    box-sizing: border-box; 
}

.inputX select {
    margin: 0px 10px;
    width: calc(100% - 150px);
    background-color: var(--bg-a);
    border: none;
    font-family: fontR;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box; 
}

.inputX #phone {
    width: 100px !important;
    margin: 0px 0px 0px 0px;
}

.tc-box {
    margin: 10px auto 0px 0px !important;
    font-family: fontM;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.tc-box div {
    height: 25px;
    width: 25px;
    background-color: var(--bg-a);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.tickbox-input {
    display: none;
}

.tickbox-div::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.tickbox-input:checked + .tickbox-div::after {
    background-color: var(--bg-a) !important;
}

.tc-box p a {
    color: var(--theme);
}

.inputX svg {
    opacity: 50%;
    width: 24px; /* Ensure SVG has a fixed size */
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
}




@media (min-width : 180px) and (max-width : 387px){
    .login-container{ 
        padding: 0;
    }
    .inputX label{
        min-width: 40% !important;
    }

}
@media (min-width : 911px) and (max-width : 1300px){
    .inputX label{
        min-width: 30% !important;
    }
    .login-container{
        width: 40%;
    }
}


/* NAVBAR */
.main-navbar{
    background-color: var(--bg);
    /* backdrop-filter: blur(10px); */
    padding: 8px 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: sticky;
    bottom: 0%;
    width: 100%;
    
}
.main-navbar ul{
    display: flex;
    justify-content: space-around;
}
.main-navbar ul li{
    list-style-type: none;
}
.main-navbar ul li a{
    fill: var(--theme) !important;
}
.main-navbar ul li a:hover{
    fill: crimson !important;
}



/* Top Navbar */
.top-navbar{
    background-color: var(--bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    position: sticky;
    top: 0%;
}

.top-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.top-nav-btn a{
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: var(--bg-x);
}

/* POST */
.post{
    width: 95%;
    margin: 10px auto;
    background-color: var(--bg-x);
    border-radius: 8px;
}
.post img{
    width: 100%;
    border-radius: 8px;
}
.post-desc{
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.post-caption{
    font-size: 18px;
    font-family: fontR;
    line-height: 25px;
    /* margin-bottom: 10px; */
}

.post-desc-ctrl-box{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}


.post-user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-user-info img{
    width:  24px;
    height: 24px;
    border-radius: 50px;
}
.post-user-info p{
    font-size: 14px;
    font-family: fontM;
}

.post-ctrl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.post-ctrl a{
    display: block;
    background-color: transparent;
    border: none;
}